svg {
  overflow: visible;
}

body {
  background-color: #f1f3f3;
  font-family: "Roboto", "Fira Sans", sans-serif;
  height: 100vh;
}

text {
  font-weight: 500;
  font-size: 18px;
  color: #081f2c;
}

.happy-div {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border-color: #6e6b6b;
  text-align: center;
}

.text-box {
  display: block;
  margin: 1em;
  font-size: 1em;
  font-family: "Roboto", "Fira Sans", sans-serif;
  width: -webkit-fill-available;
}

.grid line {
  stroke: #d4d8da;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 2;
}

.axis-title {
  fill: #000000;
  letter-spacing: 1px;
}

.tooltip {
  fill: #b894f6;
  opacity: 0.9;
}

.tooltip-text {
  fill: #ffffff;
  opacity: 0.87;
}

.tick line {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 1px;
  text-anchor: end;
}

.domain {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 1px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  opacity: 0.7;
  stroke: #d4d8da;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #03dac5;
  stroke-width: 4px;
}

.area {
  fill: #03dac5;
  opacity: 0.3;
  z-index: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #f1f3f3;
  stroke: #9a66f4;
  stroke-width: 5px;
}

.hover-line {
  stroke: #9a66f4;
  stroke-width: 2px;
  stroke-dasharray: 2, 4;
  z-index: 5;
}
